@media (max-width: 28.5em) {
  .card {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .card-img {
    height: 15.625rem;
    background-image: url("../images/image-product-mobile.jpg");
    background-size: cover;
  }
}
